{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">

        <!-- 
            Card - Blog
        -->
        <div class="card-inner blogs active" id="blog-card">
            <div class="row card-container" data-simplebar>
                    
                <!--
                    Card Wrap
                -->
                <div class="card-wrap blogs-content col col-m-12 col-t-12 col-d-9 col-d-lg-9">
                    
                    <!--
                        Inner Top
                    -->
                    <div class="content inner-top">
                        <div class="row">
                            <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                                <div class="title-bg">My Blog</div>
                            </div>
                        </div>
                    </div>

                    <!--
                        Blog
                    -->
                    <div class="content blog">
                        <div class="row">
                            <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

                                <!-- title -->
                                <div class="title"><span>My</span> Blog</div>

                            </div>
                        </div>

                        <!-- blog items -->
                        <div class="row">

                            <!-- blog item -->
                            {% for instance in object_list %}
                            <div class="col col-m-12 col-t-12 col-d-6 col-d-lg-6">
                                <div class="box-item card-box">
                                    <div class="image">
                                        <a href="{{ instance.get_absolute_url }}">
                                            <img src="{% static 'images/blog/blog1.jpg' %}" alt="" />
                                            <span class="info">
                                                <span class="icon la la-newspaper-o"></span>
                                            </span>
                                            <span class="date"><strong>20</strong>Jun</span>
                                        </a>
                                    </div>
                                    <div class="desc">
                                        <a href="{{ instance.get_absolute_url }}" class="name">{{ instance }}</a>
                                        <div class="category">{{ instance.category }}</div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p>There are no posts</p>
                            {% endfor %}

                        </div>

                        <div class="pager">
                            <span aria-current="page" class="page-numbers current">1</span>
                            <a class="page-numbers" href="#">2</a>
                            <a class="next page-numbers" href="#">Next</a>
                        </div>

                    </div> 

                </div>

                <div class="card-wrap blogs-sidebar col col-m-12 col-t-12 col-d-3 col-d-lg-3">
                    <aside id="secondary" class="widget-area">
                        <div class="widget widget_search">
                            <form role="search" method="get" class="search-form">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search …" value="">
                                </label>
                                <input type="submit" class="search-submit" value="Search">
                            </form>
                        </div>
                        <div class="widget widget_recent_entries">
                            <h2 class="widget-title">Recent Posts</h2>
                            <ul>
                                {% for instance in object_list %}
                                <li>
                                    <a href="{{ instance.get_absolute_url }}">{{ instance }}</a>
                                </li>
                                {% empty %}
                                <p>There are no posts</p>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget widget_recent_comments">
                            <h2 class="widget-title">Recent Comments</h2>
                            <ul id="recentcomments">
                                <li class="recentcomments">
                                    <span class="comment-author-link">Adam Doe</span> on 
                                    <a href="">Creativity Is More Than A Song And Dance Act</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">JOHN Smith</span> on 
                                    <a href="">By spite about do of do allow</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">Adam Smith</span> on 
                                    <a href="#">Creativity Is More Than A Song And Dance Act</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">JESSE DOE</span> on 
                                    <a href="#">Music Player Design</a>
                                </li>
                                <li class="recentcomments">
                                    <span class="comment-author-link">JESSE PITMAN</span> on 
                                    <a href="#">Music Player Design</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget_archive">
                            <h2 class="widget-title">Archives</h2>
                            <ul>
                                <li><a href="#">August 2018</a></li>
                            </ul>
                        </div>
                        <div class="widget widget_categories">
                            <h2 class="widget-title"><span class="widget-title-span">Categories</span></h2>
                            <ul>
                                <li class="cat-item cat-item-2"><a href="#">Design</a></li>
                                <li class="cat-item cat-item-3"><a href="#">Music</a></li>
                            </ul>
                        </div>
                        <div class="widget widget_meta">
                            <h2 class="widget-title">Meta</h2>
                            <ul>
                                <li><a href="#">Log in</a></li>
                                <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                <li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                <li><a href="#">WordPress.org</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                    
            </div>
        </div>
        
        <!-- 
            Lines Grid
        -->
        <div class="lines-grid">
            <div class="row">
                <div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3"></div>
                <div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3"></div>
                <div class="col col-m-12 col-t-6 col-d-4 col-d-lg-3"></div>
                <div class="col col-m-0 col-t-0 col-d-0 col-d-lg-3"></div>
            </div>
        </div>

    </div>
{% endblock content %}