<!--
    Contacts Info
-->
<div class="content contacts-info">
    <div class="row">
        <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

            <!-- title -->
            <div class="title"><span>Get</span> in Touch</div>

        </div>
    </div>

    <!-- contacts items -->
    <div class="row contacts-items">

        <!-- contacts item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="contacts-item card-box">
                <div class="icon"><i class="la la-map-marker"></i></div>
                <div class="name">Address</div>
                <p>
                    France, Paris.
                </p>
            </div>
        </div>

        <!-- contacts item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="contacts-item card-box">
                <div class="icon"><i class="la la-at"></i></div>
                <div class="name">Email</div>
                <p>
                    adlard@example.com
                </p>
            </div>
        </div>

        <!-- contacts item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="contacts-item card-box">
                <div class="icon"><i class="la la-phone"></i></div>
                <div class="name">Phone</div>
                <p>
                    +123 654 78900
                </p>
            </div>
        </div>

        <!-- contacts item -->
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="contacts-item card-box">
                <div class="icon"><i class="la la-check-square"></i></div>
                <div class="name">Freelance</div>
                <p>
                    Available
                </p>
            </div>
        </div>

    </div>

</div>