{% load static %}

<div class="card-inner" id="{{ page.route }}">
    <div class="row card-container">

        <!--
            Card Wrap
        -->
        <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
            
            <!-- About Image -->
            <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url({% static 'images/profile.jpg' %});"></div>
            
            <!--
                Inner Top
            -->
            <div class="content inner-top">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                        <div class="title-bg">About Me</div>
                        <div class="text">
                            <p>
                                <strong>Hello, I’m Hosam</strong>, web-developer based on Vienna. <br />
                                I have rich experience in web site design & building <br />
                                and customization. Also I am good at <strong>html, css, <br />
                                wordpress, php, jquery, bootstrap.</strong>
                            </p>
                        </div>
                        <div class="circle-bts">
                            <a href="#"><span><i class="icon la la-download"></i>Download CV</span></a>
                            <a href="#"><i class="icon la la-github"></i></a>
                            <a href="#"><i class="icon la la-stack-overflow"></i></a>
                            <a href="#"><i class="icon la la-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--
                Services
            -->
            <div class="content services">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

                        <!-- title -->
                        <div class="title"><span>Our</span> Services</div>

                    </div>
                </div>

                <!-- service items -->
                <div class="row service-items">

                    <!-- service item -->
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                        <div class="service-item card-box">
                            <div class="icon"><i class="la la-html5"></i></div>
                            <div class="name">Web Development</div>
                            <p>
                                Modern and mobile-ready website that will help of your marketing.
                            </p>
                        </div>
                    </div>

                    <!-- service item -->
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                        <div class="service-item card-box">
                            <div class="icon"><i class="la la-music"></i></div>
                            <div class="name">Music Writing</div>
                            <p>
                                Music copying, transcription, arranging and composition Services.
                            </p>
                        </div>
                    </div>

                    <!-- service item -->
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                        <div class="service-item card-box">
                            <div class="icon"><i class="la la-bullhorn"></i></div>
                            <div class="name">Advetising</div>
                            <p>
                                Advertising services include television, radio, print, mail and web.
                            </p>
                        </div>
                    </div>

                    <!-- service item -->
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                        <div class="service-item card-box">
                            <div class="icon"><i class="la la-gamepad"></i></div>
                            <div class="name">Game Development</div>
                            <p>
                                Developing memorable and unique mobile android, ios games.
                            </p>
                        </div>
                    </div>

                    <!-- service item -->
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                        <div class="service-item card-box">
                            <div class="icon"><i class="la la-area-chart"></i></div>
                            <div class="name">Analytics</div>
                            <p>
                                Basic, advanced, custom implementations and online media analysis.
                            </p>
                        </div>
                    </div>

                    <!-- service item -->
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                        <div class="service-item card-box">
                            <div class="icon"><i class="la la-camera-retro"></i></div>
                            <div class="name">Hosting</div>
                            <p>
                                Full-day or half-day photo shoots with all necessary equipment.
                            </p>
                        </div>
                    </div>

                </div>

            </div>

            <!--
                Price Tables
            -->
            <div class="content pricing">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

                        <!-- title -->
                        <div class="title"><span>Pricing</span> Tables</div>

                    </div>
                </div>

                <!-- pricing items -->
                <div class="row pricing-items">

                    <!-- pricing item -->
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                        <div class="pricing-item card-box">
                            <div class="icon"><i class="la la-tachometer"></i></div>
                            <div class="name">Basic</div>
                            <div class="amount">
                                <span class="dollar">$</span>
                                <span class="number">22</span>
                                <span class="period">hour</span>
                            </div>
                            <div class="feature-list">
                                <ul>
                                    <li>Web Development</li>
                                    <li>Advetising</li>
                                    <li>Game Development</li>
                                    <li class="disable">Music Writing</li>
                                    <li class="disable">Photography <strong>new</strong></li>
                                </ul>
                            </div>
                            <div class="lnks">
                                <a href="#" class="lnk">Buy <span>Basic</span></a>
                            </div>
                        </div>
                    </div>

                    <!-- pricing item -->
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
                        <div class="pricing-item card-box">
                            <div class="icon"><i class="la la-rocket"></i></div>
                            <div class="name">Pro</div>
                            <div class="amount">
                                <span class="dollar">$</span>
                                <span class="number">48</span>
                                <span class="period">hour</span>
                            </div>
                            <div class="feature-list">
                                <ul>
                                    <li>Web Development</li>
                                    <li>Advetising</li>
                                    <li>Game Development</li>
                                    <li>Music Writing</li>
                                    <li>Photography <strong>new</strong></li>
                                </ul>
                            </div>
                            <div class="lnks">
                                <a href="#" class="lnk">Buy <span>Pro</span></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--
                Fun Fact
            -->
            <div class="content fuct">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

                        <!-- title -->
                        <div class="title"><span>Fun</span> Facts</div>

                    </div>
                </div>

                <!-- fuct items -->
                <div class="row fuct-items">

                    <!-- fuct item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="fuct-item card-box">
                            <div class="icon"><i class="la la-headphones"></i></div>
                            <div class="name">47 Albumes Listened</div>
                        </div>
                    </div>

                    <!-- fuct item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="fuct-item card-box">
                            <div class="icon"><i class="la la-trophy"></i></div>
                            <div class="name">15 Awards Won</div>
                        </div>
                    </div>

                    <!-- fuct item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="fuct-item card-box">
                            <div class="icon"><i class="la la-lightbulb-o"></i></div>
                            <div class="name">54 Projects Completed</div>
                        </div>
                    </div>

                    <!-- fuct item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="fuct-item card-box">
                            <div class="icon"><i class="la la-flag-o"></i></div>
                            <div class="name">10 Countries Visited</div>
                        </div>
                    </div>

                    <!-- fuct item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="fuct-item card-box">
                            <div class="icon"><i class="la la-book"></i></div>
                            <div class="name">50+ Books Readed</div>
                        </div>
                    </div>

                    <!-- fuct item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="fuct-item card-box">
                            <div class="icon"><i class="la la-code"></i></div>
                            <div class="name">100 000 Lines of Code</div>
                        </div>
                    </div>

                    <!-- fuct item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="fuct-item card-box">
                            <div class="icon"><i class="la la-smile-o"></i></div>
                            <div class="name">49 Satisfied Customers</div>
                        </div>
                    </div>

                    <!-- fuct item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="fuct-item card-box">
                            <div class="icon"><i class="la la-bicycle"></i></div>
                            <div class="name">1250 km Cycled</div>
                        </div>
                    </div>

                </div>

            </div>

            <!--
                Clients
            -->
            <div class="content clients">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">

                        <!-- title -->
                        <div class="title"><span>Our</span> Clients</div>

                    </div>
                </div>

                <!-- client items -->
                <div class="row client-items">

                    <!-- client item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="client-item card-box">
                            <div class="image">
                                <a target="_blank" href="https://www.google.com">
                                    <img src="{% static 'images/clients/client_1.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- client item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="client-item card-box">
                            <div class="image">
                                <a target="_blank" href="https://www.google.com">
                                    <img src="{% static 'images/clients/client_3.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- client item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="client-item card-box">
                            <div class="image">
                                <a target="_blank" href="https://www.google.com">
                                    <img src="{% static 'images/clients/client_4.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- client item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="client-item card-box">
                            <div class="image">
                                <a target="_blank" href="https://www.google.com">
                                    <img src="{% static 'images/clients/client_1.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- client item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="client-item card-box">
                            <div class="image">
                                <a target="_blank" href="https://www.google.com">
                                    <img src="{% static 'images/clients/client_3.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- client item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="client-item card-box">
                            <div class="image">
                                <a target="_blank" href="https://www.google.com">
                                    <img src="{% static 'images/clients/client_4.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- client item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="client-item card-box">
                            <div class="image">
                                <a target="_blank" href="https://www.google.com">
                                    <img src="{% static 'images/clients/client_1.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- client item -->
                    <div class="col col-m-6 col-t-6 col-d-3 col-d-lg-3">
                        <div class="client-item card-box">
                            <div class="image">
                                <a target="_blank" href="https://www.google.com">
                                    <img src="{% static 'images/clients/client_3.png' %}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        
    </div>
</div>