{% load static %}

<div class="card-inner" id="{{ page.route }}">
    <div class="row card-container">
            
        <!--
            Card Wrap
        -->
        <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>
            
            <!-- Blog Image -->
            <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url({% static 'images/profile4.jpg' %});"></div>
            
            <!--
                Inner Top
            -->
            <div class="content inner-top">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                        <div class="title-bg">My Blog</div>
                    </div>
                </div>
            </div>

            <!--
                Blog
            -->
            <div class="content blog">
                <div class="row">
                    <div class="col col-m-12 col-t-5 col-d-5 col-d-lg-5">

                        <!-- title -->
                        <div class="title"><span>My</span> Blog</div>

                    </div>
                    <div class="col col-m-12 col-t-7 col-d-7 col-d-lg-7">

                        <!-- filters -->
                        <div class="all-blog">
                            <a href="{% url 'blog:blog' %}">All Blog</a>
                        </div>

                    </div>
                </div>

                <!-- blog items -->
                <div class="row">

                    <!-- blog item -->
                    {% for instance in object_list %}
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                        <div class="box-item card-box">
                            <div class="image">
                                <a href="{{ instance.get_absolute_url }}">
                                    <img src="{% static 'images/blog/blog1.jpg' %}" alt="" />
                                    <span class="info">
                                        <span class="icon la la-newspaper-o"></span>
                                    </span>
                                    <span class="date"><strong>20</strong>Jun</span>
                                </a>
                            </div>
                            <div class="desc">
                                <a href="blog-post.html" class="name">{{ instance }}</a>
                                <div class="category">{{ instance.category }}</div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>There are no posts</p>
                    {% endfor %}

                </div>

            </div> 

        </div>
            
    </div>
</div>