{% load static %}

<div class="card-inner" id="{{ page.route }}">
    <div class="row card-container">
            
        <!--
            Card Wrap
        -->
        <div class="card-wrap col col-m-12 col-t-12 col-d-8 col-d-lg-6" data-simplebar>

            <!-- Resume Image -->
            <div class="card-image col col-m-12 col-t-12 col-d-4 col-d-lg-6" style="background-image: url({% static 'images/profile2.jpg' %});"></div>

            <!--
                Inner Top
            -->
            <div class="content inner-top">
                <div class="row">
                    <div class="col col-m-12 col-t-12 col-d-12 col-d-lg-12">
                        <div class="title-bg">Resume</div>
                    </div>
                </div>
            </div>

            <!--
                Resume
            -->
            <div class="content resume">
                <div class="row">
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

                        <!-- title -->
                        <div class="title"><span>My</span> Experience</div>

                        <!-- resume items -->
                        <div class="resume-items card-box">

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">Web Development</div>
                                <div class="date">2013-Present <span>|</span> Facebook Inc.</div>
                                <p>
                                    Collaborate with creative and development teams on the execution of ideas.
                                </p>
                            </div>

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">Front-end Developer</div>
                                <div class="date">2011-2012 <span>|</span> Google Inc.</div>
                                <p>
                                    Monitored technical aspects of the front-end delivery for several projects.
                                </p>
                            </div>

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">Senior Developer</div>
                                <div class="date">2009-2010 <span>|</span> Abc Inc.</div>
                                <p>
                                    Optimize website performance using latest technology.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

                        <!-- title -->
                        <div class="title"><span>My</span> Education</div>

                        <!-- resume items -->
                        <div class="resume-items card-box">

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">Art University</div>
                                <div class="date">2006-2008 <span>|</span> New York</div>
                                <p>
                                    Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri
                                </p>
                            </div>

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">Programming Course</div>
                                <div class="date">2005-2006 <span>|</span> Paris</div>
                                <p>
                                    Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri
                                </p>
                            </div>

                            <!-- resume item -->
                            <div class="resume-item">
                                <div class="name">Web Design Course</div>
                                <div class="date">2004-2005 <span>|</span> London</div>
                                <p>
                                    Converted Photoshop layouts to web pages using HTML, CSS, and JavaScript
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--
                Skills
            -->
            <div class="content skills">
                <div class="row">
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

                        <!-- title -->
                        <div class="title"><span>Personal</span> Skills</div>

                        <!-- skills -->
                        <div class="skills-list card-box">
                            <ul>
                                <li> 
                                    <div class="name">Communication</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li> 
                                    <div class="name">Team Work</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:65%;"></div>
                                    </div>
                                </li>
                                <li> 
                                    <div class="name">Leadership</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:75%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">Language</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:85%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">

                        <!-- title -->
                        <div class="title"><span>Professional</span> Skills</div>

                        <!-- skills -->
                        <div class="skills-list card-box">
                            <ul>
                                <li> 
                                    <div class="name">WordPress</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li> 
                                    <div class="name">PHP / MYSQL</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:65%;"></div>
                                    </div>
                                </li>
                                <li> 
                                    <div class="name">HTML / CSS / JS</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:95%;"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="name">Photoshop</div>
                                    <div class="progress">
                                        <div class="percentage" style="width:85%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>