<!-- service items -->
<div class="row service-items">

    <!-- service item -->
    {% for service_item in service_block.service_items.all %}
        <div class="col col-m-12 col-t-6 col-d-6 col-d-lg-6">
            <div class="service-item card-box">
                <div class="icon"><i class="{{ service_item.icon.code }}"></i></div>
                <div class="name">{{ service_item.title|safe }}</div>
                <p>
                    {{ service_item.description|safe }}
                </p>
            </div>
        </div>
    {% endfor %}

</div>