########## DJANGO ##########
DJ_DEBUG_MODE=True
DJ_ALLOWED_HOSTS=localhost 127.0.0.1 .cloud.okteto.net
DJ_LANGUAGE_CODE=en-us
DJ_TIME_ZONE=UTC
DJ_USE_I18N=True
DJ_USE_TZ=True

########## DATABASE ##########
DB_ENGINE=django.db.backends.postgresql
DB_HOST=manny.db.elephantsql.com
DB_PORT=5432

########## OBJECTS - DIGITALOCEAN ##########
AWS_DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
AWS_STATICFILES_STORAGE=storages.backends.s3boto3.S3StaticStorage
AWS_STORAGE_BUCKET_NAME=portfolio-dev
AWS_S3_REGION_NAME=fra1
AWS_S3_ENDPOINT_URL=https://fra1.digitaloceanspaces.com


########## OBJECTS - CLOUDFLARE ##########
# AWS_DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage
# AWS_STATICFILES_STORAGE=storages.backends.s3boto3.S3StaticStorage
# AWS_S3_ENDPOINT_URL=https://bfb4e8b6156cc1130ec648f587792dd4.r2.cloudflarestorage.com
# AWS_STORAGE_BUCKET_NAME=demo
