########## DJANGO ##########
DJ_DEBUG_MODE=${DJ_DEBUG_MODE}
DJ_ALLOWED_HOSTS=${DJ_ALLOWED_HOSTS}
DJ_LANGUAGE_CODE=${DJ_LANGUAGE_CODE}
DJ_TIME_ZONE=${DJ_TIME_ZONE}
DJ_USE_I18N=${DJ_USE_I18N}
DJ_USE_TZ=${DJ_USE_TZ}
